:root {
    --border: #F7889A;
    --bgC: whitesmoke;
    --toggleC: #FDE3E8;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #FEF1F3;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

h1 {
    font-family: 'satisfy', monospace, cursive;
    font-size: 50px;
    color: var(--border);
    padding: 10px;
    margin: 0px;
}

span.largerText {
    font-size: 100px;
}

/* Nav Bar */

#navBar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 500px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.button {
    box-sizing: border-box;
    width: 130px;
    padding: 7px;
    font-size: 20px;
    color: var(--border);
    background-color: var(--bgC);
    border-radius: 5px;
    border: 3px solid var(--border);
}

.button:hover {
    transform: scale(1.1);
}

#eraseButton.active, 
#randButton.active {
    color: var(--border);
    background-color: var(--toggleC);
    border: 3px solid var(--border);
}


#container {
    background-color: var(--bgC);
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    border: 5px solid var(--border);
    border-radius: 10px;
}


.box {
    margin: 0;
    padding: 0;
    cursor: auto;
}

.box:hover {
    cursor: crosshair;
}
